/***********INFO****************/
body .hero {
    padding-top: 8rem;
    flex-direction:column;
    height: 40vh;
    align-items:center;
    justify-content: center;
    --primary-color: #185ee0;
    --secondary-color: #e6eef9;
    text-align: center;
  }
  
  body .hero p{
    margin: 1rem auto;
  }

  body .hero .middle{
      text-align: center;
  }
  
  body .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  body .hero .tabs {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
      0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding:0.50rem;
    border-radius: 99px;
   margin-top: 20px;
  }
  
  * {
    z-index: 2;
  }
  
  body .hero input[type="radio"] {
    display: none;
  }
  
  body .hero .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 170px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
  }
  
  body .hero input[type="radio"]:checked + label {
    color: var(--primary-color);
  }
  
  body .hero input[type="radio"]:checked + label > .notification {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  body .hero .glider {
    position: absolute;
    display: flex;
    height: 44px;
    width:170px;
    background-color: var(--secondary-color);
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
  }
  
  body .hero input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
  }
  
  body .hero input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
  }
  
  body .hero input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
  }
  
  body .hero input[id="radio-4"]:checked ~ .glider {
    transform: translateX(300%);
  }
  
  body .hero input[id="radio-5"]:checked ~ .glider {
    transform: translateX(400%);
  }
  

  @media (max-width:800px) {
    body .hero{
        display: flex;
        padding-top: 5rem;
    }

    body .hero .tabs{
        transform: scale(0.65);
    }
  }

  @media (max-width: 600px){
    body .hero .tabs{
        transform: scale(0.58);
    }
  }

  @media (max-width: 550px){
    body .hero .tabs{
        transform: scale(0.53);
    }
  }

  @media (max-width: 450px){
    body .hero .tabs{
        transform: scale(0.46);
    }
  }

  /***********Mentor****************/

  body .mentor{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 1rem auto;
    text-align: center;
    height: fit-content;
    gap: 3rem;
    margin-bottom: 6rem;
  }

  @media (max-width:900px) {
    body .mentor{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
  }

  @media (max-width:750px) {
    body .mentor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
  }

  @media (max-width:600px) {
    body .mentor{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
  }

  body .mentor .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    height: fit-content;
  }

  body .mentor .card img{
    width: 8rem;
    height: 8rem;
    border-radius: 100rem;
  }

  body .mentor .card h4{
    margin: 0;
  }

  body .mentor .card .socials ul{
    margin: 1rem auto;
    display: flex;
    gap: 2rem;
  }

  body .mentor .card .socials ul li {
    list-style:none;
  }
  body .mentor .card .socials ul li a {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:0.6rem;
    height:0.6rem;
    font-size:1.6rem;
    text-align:center;
    text-decoration:none;
    color:#404040;
    transition:.2s;
  }
  
  body .mentor .card .socials .facebook:hover {
    color: #3b5998;
  }
  body .mentor .card .socials .facebook:hover span { 
    background: #3b5998;
  }
  body .mentor .card .socials .twitter:hover {
    color: #1da1f2;
  }
  body .mentor .card .socials .twitter:hover span { 
    background: #1da1f2;
  }
  body .mentor .card .socials .instagram:hover {
    color: #c32aa3;
  }
  body .mentor .card .socials .instagram:hover span { 
    background: #c32aa3;
  }
  body .mentor .card .socials .google:hover {
    color: #dd4b39;
  }
  body .mentor .card .socials .google:hover span { 
    background: #dd4b39;
  }
  body .mentor .card .socials ul li a .twitter {
    color: #1da1f2;
  }
  body .mentor .card .socials ul li a:hover:nth-child(3) {
    color: #c32aa3;
  }
  body .mentor .card .socials ul li a:hover:nth-child(4) {
    color: #dd4b39;
  }

  body .mentor .card:hover img{
    border: 0.2rem solid #ff740a;
    animation: borderopen 0.1s linear;
  }

  /* body .mentor .card:hover .socials ul li a{
    color: #ff740a;
  } */

  @keyframes borderopen {
    from{
        border-width: 0rem;
    }
    to{
        border-width: 0.2rem;
    }
  }